.row {
    display: flex;
    width: 100%;
}

.tile {
    margin: 0px;
    padding: 7px;
    border: 2px solid black;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

.border {
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {

}

.start-button {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}